<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>หน้าแรก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">หน้าแรก</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content class="ion-padding">
  <p>
    นาย ธนพัชร์ เจริญพรวิจิตร ช.2/3 เลขที่ 24 ชื่อเล่น พัชร์ อายุ 16
  </p>
  </ion-content>
